@model WebSiteInfoViewModel
@{
    
}

<h2>Image TagHelper</h2>


<img asp-append-version="true"  src="~/images/banner1.svg" />

<img src="/images/banner1.svg?v=GaE_EmkeBf-yBbrJ26lpkGd4jkOSh1eVKJaNOw9I4uk">



<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />